/* Reset default browser styles */


body {
    background-image: url('../img/slider2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.login-container {
    border: 2px solid blue;
    background: linear-gradient(
        90.71deg,
        #251b99 10.54%,
        #3d2cff 25.29%,
        #1a8ee3 43.47%,
        #0070c1 60.28%,
        #2a32ff 77.81%,
        rgba(0, 10, 255, 0.72) 89.33%
      );
   
    padding: 20px 40px;
    border-radius: 8px;
    
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #142fff;
}

.form-group {
    text-align: left;
}

.form-group p {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #005eff;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #05008d;
}
